---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log('This runs in your terminal, not the browser!');
---
<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->
<html>
  <body>
    <main class="bg-red-500 text-white p-4">
      <h1 class="text-xl">Hello, World!</h1>
    </main>
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>
